*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(girl.avif);
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(3px);
    height: 1%;
}
.navitems1{
    display: flex;
    background-color: rgb(81, 4, 125);
    font-size: 20px;
    height: 100px;
    width: 100%;
    margin-bottom: 201px;
    border-bottom:2px solid white ;
}
.navitems1 a{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10.1px; 
}
.logo1{
    /* margin-right: 815px; */
    font-size: 40px;
    font-family: initial;
    margin-top: 20px;
    margin-right: 220px;
    font-style: italic;
}

    
.search_bar input{
    width: 300%;
    height: 30px;
    margin-top: 29px;
    border-radius: 5px;
    font-size: 16px;
}
.box1{
    margin-left: 480px;
    margin-top: 30px;

}
.mgglass i{
    position: absolute;
    margin-left: 568px;
    margin-top: 35px;

}
.navitems1 a:hover{
    color:rgb(255, 7, 19);
    font-size: 23px;
    cursor: pointer;
}
.logo1 a:hover{
    color:rgb(241, 176, 11);
    font-size: 43px;
}
.fotter1{
    background-color: rgb(81, 4, 125);
    height: 170px;
    width: 100%;
    margin-top: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    border-top:3px solid white ;  
    border-bottom:3px solid white ;  
}
.logo2{
    color:white;
    display: flex;
    gap: 65px;
    justify-content:center;
    font-size: 35px;
    padding-top: 25px;  
    margin-right: 30px;
    
}
.p1{
    color: aliceblue;
    margin-top: 25px;
    margin-bottom: 25px;
}
h3{
    color: aliceblue;
    margin-right: 35px;
}
.hypertext1 p{
    font-family:" poppins",sans-serif;
    font-size:  70px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 65px;
    font-weight: 10px;
    color: aliceblue;
    margin-left: 80px;
}
.timing1{
    font-family:" poppins",sans-serif;
    font-size: 20px;
    margin-left: 85px;
    margin-top: -39px;
    color: aliceblue;
    font-style: italic;
}

.b1{
    height: 70px;
    width: 300px;
    margin-left: 190px;
   margin-top: 90px;
   background-color: rgb(89, 27, 124);
   color: aliceblue;
   border: 3px solid white;
   border-radius: 70px;
   font-size: 25px;
}
.b2{
    height: 70px;
    width: 300px;
    margin-left: 80px;
    background-color: rgb(89, 27, 124);
    color: aliceblue;
    border: 3px solid white;
    border-radius: 70px;
    font-size: 25px;
}










